In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
ps4_sales = pd.read_csv("videogames_data/PS4_GamesSales.csv")
other_sales = pd.read_csv("videogames_data/Video_Games_Sales_as_at_22_Dec_2016.csv")
xbox_sales = pd.read_csv("videogames_data/XboxOne_GameSales.csv")

In [3]:
ps4_df = ps4_sales[['Game', 'Year','Genre', 'North America','Europe']].dropna()

In [4]:
xbox_df = xbox_sales[['Game','Year','Genre', 'North America','Europe']].dropna()
len(xbox_df['Game'])

505

In [5]:
other_df = other_sales[['Name','Year_of_Release','Genre','NA_Sales','EU_Sales']].rename(columns={'Name':'Game',"Year_of_Release":'Year','NA_Sales':'North America', 'EU_Sales':'Europe'}).dropna()
other_df

,Game,Year,Genre,North America,Europe
0,Wii Sports,2006.0,Sports,41.36,28.96
1,Super Mario Bros.,1985.0,Platform,29.08,3.58
2,Mario Kart Wii,2008.0,Racing,15.68,12.76
3,Wii Sports Resort,2009.0,Sports,15.61,10.93
4,Pokemon Red/Pokemon Blue,1996.0,Role-Playing,11.27,8.89
5,Tetris,1989.0,Puzzle,23.20,2.26
6,New Super Mario Bros.,2006.0,Platform,11.28,9.14
7,Wii Play,2006.0,Misc,13.96,9.18
8,New Super Mario Bros. Wii,2009.0,Platform,14.44,6.94
9,Duck Hunt,1984.0,Shooter,26.93,0.63
10,Nintendogs,2005.0,Simulation,9.05,10.95
11,Mario Kart DS,2005.0,Racing,9.71,7.47
12,Pokemon Gold/Pokemon Silver,1999.0,Role-Playing,9.00,6.18
13,Wii Fit,2007.0,Sports,8.92,8.03
14,Kinect Adventures!,2010.0,Misc,15.00,4.89
15,Wii Fit Plus,2009.0,Sports,9.01,8.49
16,Grand Theft Auto V,2013.0,Action,7.02,9.09
17,Grand Theft Auto: San Andreas,2004.0,Action,9.43,0.40
18,Super Mario World,1990.0,Platform,12.78,3.75
19,Brain Age: Train Your Brain in Minutes a Day,2005.0,Misc,4.74,9.20
20,Pokemon Diamond/Pokemon Pearl,2006.0,Role-Playing,6.38,4.46
21,Super Mario Land,1989.0,Platform,10.83,2.71
22,Super Mario Bros. 3,1988.0,Platform,9.54,3.44
23,Grand Theft Auto V,2013.0,Action,9.66,5.14
24,Grand Theft Auto: Vice City,2002.0,Action,8.41,5.49
25,Pokemon Ruby/Pokemon Sapphire,2002.0,Role-Playing,6.06,3.90
26,Brain Age 2: More Training in Minutes a Day,2005.0,Puzzle,3.43,5.35
27,Pokemon Black/Pokemon White,2010.0,Role-Playing,5.51,3.17
28,Gran Turismo 3: A-Spec,2001.0,Racing,6.85,5.09
29,Call of Duty: Modern Warfare 3,2011.0,Shooter,9.04,4.24
...,...,...,...,...,...
16689,Help Wanted: 50 Wacky Jobs (jp sales),2008.0,Simulation,0.00,0.00
16690,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,2008.0,Racing,0.00,0.00
16691,Neo Angelique Special,2008.0,Adventure,0.00,0.00
16692,Outdoors Unleashed: Africa 3D,2011.0,Sports,0.01,0.00
16693,Real Rode,2008.0,Adventure,0.00,0.00
16694,Pony Friends 2,2009.0,Simulation,0.00,0.01
16695,Dynasty Warriors: Eiketsuden,2016.0,Action,0.00,0.00
16696,Metal Gear Solid V: Ground Zeroes,2014.0,Action,0.00,0.01
16697,PGA European Tour,2000.0,Sports,0.01,0.00
16698,Carmageddon 64,1999.0,Action,0.01,0.00
16699,Planet Monsters,2001.0,Action,0.01,0.00
16700,Breach,2011.0,Shooter,0.01,0.00
16701,Bust-A-Move 3000,2003.0,Puzzle,0.01,0.00
16702,Mega Brain Boost,2008.0,Puzzle,0.01,0.00
16703,The Longest 5 Minutes,2016.0,Action,0.00,0.00
16704,Mezase!! Tsuri Master DS,2009.0,Sports,0.00,0.00
16705,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Role-Playing,0.00,0.00
16706,STORM: Frontline Nation,2011.0,Strategy,0.00,0.01
16707,Strawberry Nauts,2016.0,Adventure,0.00,0.00
16708,Plushees,2008.0,Simulation,0.01,0.00
16709,15 Days,2009.0,Adventure,0.00,0.01
16710,Men in Black II: Alien Escape,2003.0,Shooter,0.01,0.00
16711,Aiyoku no Eustia,2014.0,Misc,0.00,0.00
16712,Woody Woodpecker in Crazy Castle 5,2002.0,Platform,0.01,0.00
16713,SCORE International Baja 1000: The Official Game,2008.0,Racing,0.00,0.00
16714,Samurai Warriors: Sanada Maru,2016.0,Action,0.00,0.00
16715,LMA Manager 2007,2006.0,Sports,0.00,0.01
16716,Haitaka no Psychedelica,2016.0,Adventure,0.00,0.00
16717,Spirits & Spells,2003.0,Platform,0.01,0.00
16718,Winning Post 8 2016,2016.0,Simulation,0.00,0.00

In [6]:
#vg_df1 = ps4_df.merge(xbox_df, how = 'inner', on ='Game')
#vg_df1['NA'] = vg_df1['North_America_x']+vg_df1['North_America_y']
#vg_df = vg_df1.dropna().merge(vg_df1, other_df, how = 'inner', on = vg_df1['Game'])
vg = pd.concat([ps4_df,xbox_df])
vg_pd = pd.concat([vg, other_df])
#len(vg_pd['Game'])
vg_pd.groupby('Game').head()

,Game,Year,Genre,North America,Europe
0,Grand Theft Auto V,2014.0,Action,6.06,9.71
1,Call of Duty: Black Ops 3,2015.0,Shooter,6.18,6.05
2,Red Dead Redemption 2,2018.0,Action-Adventure,5.26,6.21
3,Call of Duty: WWII,2017.0,Shooter,4.67,6.21
4,FIFA 18,2017.0,Sports,1.27,8.64
5,FIFA 17,2016.0,Sports,1.26,7.95
6,Uncharted (PS4),2016.0,Action,4.49,3.93
7,Spider-Man (PS4),2018.0,Action-Adventure,3.64,3.39
8,Call of Duty: Infinite Warfare,2016.0,Shooter,3.11,3.83
9,Fallout 4,2015.0,Role-Playing,2.91,3.97
10,FIFA 16,2015.0,Sports,1.15,5.77
11,Star Wars Battlefront 2015,2015.0,Shooter,3.31,3.19
12,Call of Duty: Advanced Warfare,2014.0,Shooter,2.84,3.34
13,Battlefield 1,2016.0,Shooter,2.20,3.65
14,The Last of Us,2014.0,Action-Adventure,2.70,2.86
15,MineCraft,2014.0,Misc,1.89,3.13
16,FIFA 15,2014.0,Sports,0.83,4.49
17,God of War (PS4),2018.0,Action,2.83,2.17
18,Horizon: Zero Dawn,2017.0,Action,2.20,2.43
19,Destiny,2014.0,Shooter,2.53,2.13
20,Uncharted: The Nathan Drake Collection,2015.0,Action,2.55,2.11
21,The Witcher 3: Wild Hunt,2015.0,Role-Playing,1.48,2.82
22,Final Fantasy XV,2016.0,Role-Playing,1.81,1.53
23,Crash Bandicoot N. Sane Trilogy,2017.0,Platform,1.09,2.92
24,Monster Hunter: World,2018.0,Action,1.03,1.06
25,Overwatch,2016.0,Shooter,1.84,1.80
26,Star Wars Battlefront II (2017),2017.0,Shooter,1.70,1.99
27,Tom Clancy's The Division,2016.0,Shooter,1.49,2.04
28,Tom Clancy's Rainbow Six: Siege,2015.0,Shooter,1.29,2.06
29,Watch Dogs,2014.0,Action-Adventure,1.40,2.13
...,...,...,...,...,...
16689,Help Wanted: 50 Wacky Jobs (jp sales),2008.0,Simulation,0.00,0.00
16690,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,2008.0,Racing,0.00,0.00
16691,Neo Angelique Special,2008.0,Adventure,0.00,0.00
16692,Outdoors Unleashed: Africa 3D,2011.0,Sports,0.01,0.00
16693,Real Rode,2008.0,Adventure,0.00,0.00
16694,Pony Friends 2,2009.0,Simulation,0.00,0.01
16695,Dynasty Warriors: Eiketsuden,2016.0,Action,0.00,0.00
16696,Metal Gear Solid V: Ground Zeroes,2014.0,Action,0.00,0.01
16697,PGA European Tour,2000.0,Sports,0.01,0.00
16698,Carmageddon 64,1999.0,Action,0.01,0.00
16699,Planet Monsters,2001.0,Action,0.01,0.00
16700,Breach,2011.0,Shooter,0.01,0.00
16701,Bust-A-Move 3000,2003.0,Puzzle,0.01,0.00
16702,Mega Brain Boost,2008.0,Puzzle,0.01,0.00
16703,The Longest 5 Minutes,2016.0,Action,0.00,0.00
16704,Mezase!! Tsuri Master DS,2009.0,Sports,0.00,0.00
16705,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Role-Playing,0.00,0.00
16706,STORM: Frontline Nation,2011.0,Strategy,0.00,0.01
16707,Strawberry Nauts,2016.0,Adventure,0.00,0.00
16708,Plushees,2008.0,Simulation,0.01,0.00
16709,15 Days,2009.0,Adventure,0.00,0.01
16710,Men in Black II: Alien Escape,2003.0,Shooter,0.01,0.00
16711,Aiyoku no Eustia,2014.0,Misc,0.00,0.00
16712,Woody Woodpecker in Crazy Castle 5,2002.0,Platform,0.01,0.00
16713,SCORE International Baja 1000: The Official Game,2008.0,Racing,0.00,0.00
16714,Samurai Warriors: Sanada Maru,2016.0,Action,0.00,0.00
16715,LMA Manager 2007,2006.0,Sports,0.00,0.01
16716,Haitaka no Psychedelica,2016.0,Adventure,0.00,0.00
16717,Spirits & Spells,2003.0,Platform,0.01,0.00
16718,Winning Post 8 2016,2016.0,Simulation,0.00,0.00

In [7]:
csv = 'shootings_data/Mass_Shootings_Dataset.csv'
ms_df = pd.read_csv(csv)
ms_df.head()

,S#,Title,Location,Date,Summary,Fatalities,Injured,Total victims,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Las Vegas Strip mass shooting,"Las Vegas, NV",2017,NaN,58,515,573,Unclear,NaN,NaN,NaN,NaN
1,2,San Francisco UPS shooting,"San Francisco, CA",2017,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,Yes,Asian,M,NaN,NaN
2,3,Pennsylvania supermarket shooting,"Tunkhannock, PA",2017,"Randy Stair, a 24-year-old worker at Weis groc...",3,0,3,Unclear,White,M,NaN,NaN
3,4,Florida awning manufacturer shooting,"Orlando, Florida",2017,"John Robert Neumann, Jr., 45, a former employe...",5,0,5,Unclear,NaN,M,NaN,NaN
4,5,Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017,"Thomas Hartless, 43, shot and killed a former ...",3,0,3,Yes,White,M,NaN,NaN

In [8]:
ms_db = ms_df[['Title', 'Location', 'Date', 'Fatalities', 'Injured', 'Total victims', 'Race']]
ms_db.head()

,Title,Location,Date,Fatalities,Injured,Total victims,Race
0,Las Vegas Strip mass shooting,"Las Vegas, NV",2017,58,515,573,NaN
1,San Francisco UPS shooting,"San Francisco, CA",2017,3,2,5,Asian
2,Pennsylvania supermarket shooting,"Tunkhannock, PA",2017,3,0,3,White
3,Florida awning manufacturer shooting,"Orlando, Florida",2017,5,0,5,NaN
4,Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017,3,0,3,White

In [16]:
ms_columns = ['Title', 'Location', 'Date', 'Fatalities', 'Injured', 'Total victims', 'Race']
ms_db_transformed = ms_db[ms_columns].copy()

ms_df = ms_db_transformed.rename(columns={"Title": "title",
                                        "Location": "location",
                                        "Date": "date",
                                        "Fatalities": "fatalities",
                                        "Injured": "injured",
                                        "Total victims": "total_victims",
                                        "Race": "race"})

ms_df.set_index('title', inplace=True)
ms_df.head()

,location,date,fatalities,injured,total_victims,race
title,,,,,,
Las Vegas Strip mass shooting,"Las Vegas, NV",2017,58,515,573,NaN
San Francisco UPS shooting,"San Francisco, CA",2017,3,2,5,Asian
Pennsylvania supermarket shooting,"Tunkhannock, PA",2017,3,0,3,White
Florida awning manufacturer shooting,"Orlando, Florida",2017,5,0,5,NaN
Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017,3,0,3,White

In [34]:
vg_columns = ['Game', 'Year', 'Genre', 'North America', 'Europe']
vg_pd_transformed = vg_pd[vg_columns].copy()

vg_pd_transformed = vg_pd_transformed.rename(columns={'Game': 'game',
                                                     'Year': 'year',
                                                     'Genre': 'genre',
                                                     'North America': 'north_america',
                                                     'Europe': 'europe'})
vg_pd_transformed.set_index('game', inplace=True)
vg_pd_transformed.head()

                             year             genre  north_america  europe
game
Grand Theft Auto V         2014.0            Action           6.06    9.71
Call of Duty: Black Ops 3  2015.0           Shooter           6.18    6.05
Red Dead Redemption 2      2018.0  Action-Adventure           5.26    6.21
Call of Duty: WWII         2017.0           Shooter           4.67    6.21
FIFA 18                    2017.0            Sports           1.27    8.64

In [35]:
from sqlalchemy_utils import create_database

engine = create_engine(f'postgresql://postgres:Erau2019!@localhost:5432/vg_pd')
create_database(engine.url)

ms_df.to_sql('ms_df', con=engine, if_exists='append', index=True)
vg_pd_transformed.to_sql('vg_pd', con=engine, if_exists='append', index=True)

In [36]:
engine.table_names()

['ms_df', 'vg_pd']

In [37]:
pd.read_sql_query('select * from ms_df', con=engine).head()

,title,location,date,fatalities,injured,total_victims,race
0,Las Vegas Strip mass shooting,"Las Vegas, NV",2017,58,515,573,None
1,San Francisco UPS shooting,"San Francisco, CA",2017,3,2,5,Asian
2,Pennsylvania supermarket shooting,"Tunkhannock, PA",2017,3,0,3,White
3,Florida awning manufacturer shooting,"Orlando, Florida",2017,5,0,5,None
4,Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017,3,0,3,White

In [38]:
pd.read_sql_query('select * from ms_df', con=engine).head()

,title,location,date,fatalities,injured,total_victims,race
0,Las Vegas Strip mass shooting,"Las Vegas, NV",2017,58,515,573,None
1,San Francisco UPS shooting,"San Francisco, CA",2017,3,2,5,Asian
2,Pennsylvania supermarket shooting,"Tunkhannock, PA",2017,3,0,3,White
3,Florida awning manufacturer shooting,"Orlando, Florida",2017,5,0,5,None
4,Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017,3,0,3,White